<!-- <div class="animations">
  <p class="animations__title">Управление анимацией</p>
  <div class="animations__actions">
    <button class="animations__btn" mat-icon-button (click)="stop()">
      <img class="animations__btn-icon" src="assets/svg/stop.svg" alt="остановить" />
    </button>
    <ng-container *ngIf="!isPlaying; else pauseAnimation">
      <button class="animations__btn" mat-icon-button (click)="play()">
        <img class="animations__btn-icon" src="assets/svg/play.svg" alt="запустить анимацию" />
      </button>
    </ng-container>
    <ng-template #pauseAnimation>
      <button class="animations__btn" mat-icon-button (click)="pause()">
        <img class="animations__btn-icon" src="assets/svg/pause.svg" alt="пауза" />
      </button>
    </ng-template>
  </div>
</div> -->

<!-- <p>Выбирите анимацию</p>
    <mat-form-field appearance="fill">
      <mat-select disableRipple>
        <mat-option value="1">Анимация 1</mat-option>
        <mat-option value="2">Анимация 2</mat-option>
        <mat-option value="3">Анимация 3</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-slider
      thumbLabel
      tickInterval="1000"
      step="1000"
      min="0"
      max="100000"
      aria-label="units"
    ></mat-slider> -->
