<div class="instructions-page">
  <ng-container [ngSwitch]="viewMode">
    <ng-template [ngSwitchCase]="getViewMode().Instructions">
      <div class="instructions-page__content" *ngFor="let instruction of instructions">
        <div class="instruction" (click)="onSelectInstruction(instruction)">
          {{ instruction.title }}
        </div>
      </div>
    </ng-template>
    <ng-template [ngSwitchCase]="getViewMode().Steps">
      <ng-container *ngIf="selectedInstruction">
        <div class="instructions-page__content">
          <div class="instructions-page__title">
            <button class="instructions-page__btn" (click)="backToInstructions()">
              <img class="instructions-page__img" src="assets/svg/arrowBack.svg" />
            </button>
            <p class="instruction-title">{{ selectedInstruction.title }}</p>
          </div>
          <div class="steps">
            <table class="steps__table">
              <thead>
                <tr class="steps__row">
                  <th class="steps__column steps__column-time">Шаг</th>
                  <th class="steps__column steps__column-action">Описание</th>
                  <th class="steps__column steps__column-action">Действия</th>
                </tr>
              </thead>
              <tbody>
                <tr class="item" *ngFor="let step of selectedInstruction!.steps">
                  <td class="steps__column steps__column-time">
                    {{ step.index! + 1 }}
                  </td>
                  <td class="steps__column steps__column-time">
                    {{ step.description }}
                  </td>
                  <td class="steps__column steps__column-action">
                    <button
                      mat-icon-button
                      matTooltip="Вопроизвести шаг"
                      matTooltipPosition="above"
                      matTooltipClass="tooltip"
                      (click)="sceneService.playAction(step.actions)"
                    >
                      <img class="steps__btn-icon" src="assets/svg/play.svg" alt="вопроизвести" />
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </ng-container>
    </ng-template>
  </ng-container>
</div>
