<ng-container *ngIf="sceneService.getHiddenObjects() | async as hiddenObjects">
  <div class="tree">
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
        <div
          class="tree__name-element"
          (mouseenter)="sceneService.setHighLightObj(node, 'mouseenter')"
          (mouseleave)="sceneService.setHighLightObj(node, 'mouseleave')"
        >
          {{ node.name }}
        </div>
        <ng-container *ngIf="!node.isRoot">
          <button
            class="tree__button"
            mat-icon-button
            (click)="toggleObjectVisibility(node)"
            [matTooltip]="objectIsHidden(node.id, hiddenObjects) ? 'Показать' : 'Скрыть'"
          >
            <img
              [src]="
                objectIsHidden(node.id, hiddenObjects)
                  ? 'assets/svg/visibility_off.svg'
                  : 'assets/svg/visibility.svg'
              "
              [alt]="objectIsHidden(node.id, hiddenObjects) ? 'Скрыть' : 'Показать'"
            />
          </button>
        </ng-container>
        <button
          class="tree__button"
          mat-icon-button
          (click)="fitToObject(node)"
          matTooltip="Приблизить"
        >
          <img src="assets/svg/zoom.svg" alt="Приблизить" />
        </button>
      </mat-tree-node>
      <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
        <div class="mat-tree-node">
          <button
            mat-icon-button
            matTreeNodeToggle
            [attr.aria-label]="'Toggle ' + node.name"
            [matTooltip]="treeControl.isExpanded(node) ? 'Свернуть' : 'Развернуть'"
          >
            <img
              [src]="
                treeControl.isExpanded(node)
                  ? 'assets/svg/arrowDown.svg'
                  : 'assets/svg/arrowRight.svg'
              "
              [alt]="treeControl.isExpanded(node) ? 'Свернуть' : 'Развернуть'"
            />
          </button>
          <div
            class="tree__name-element"
            (mouseenter)="sceneService.setHighLightObj(node, 'mouseenter')"
            (mouseleave)="sceneService.setHighLightObj(node, 'mouseleave')"
          >
            {{ node.name }}
          </div>
          <ng-container *ngIf="!node.isRoot">
            <button
              class="tree__button"
              mat-icon-button
              (click)="toggleObjectVisibility(node)"
              [matTooltip]="objectIsHidden(node.id, hiddenObjects) ? 'Показать' : 'Скрыть'"
            >
              <img
                [src]="
                  objectIsHidden(node.id, hiddenObjects)
                    ? 'assets/svg/visibility_off.svg'
                    : 'assets/svg/visibility.svg'
                "
                [alt]="objectIsHidden(node.id, hiddenObjects) ? 'Скрыть' : 'Показать'"
              />
            </button>
          </ng-container>
          <button
            class="tree__button"
            mat-icon-button
            (click)="fitToObject(node)"
            matTooltip="Приблизить"
          >
            <img src="assets/svg/zoom.svg" alt="Приблизить" />
          </button>
        </div>
        <div [class.example-tree-invisible]="!treeControl.isExpanded(node)" role="group">
          <ng-container matTreeNodeOutlet></ng-container>
        </div>
      </mat-nested-tree-node>
    </mat-tree>
  </div>
</ng-container>
