<div class="sidebar">
  <div class="account">
    <img
      class="account__image"
      appImageSanitized
      [imagePath]="user.avatar || ''"
      [defaultImage]="'assets/svg/avatar.svg'"
      alt="аккаунт"
    />
    <span class="account__nickname">{{ user.username }}</span>
    <button class="account__switch-btn" mat-icon-button>
      <img src="assets/svg/switchAccount.svg" alt="переключить аккаунт" />
    </button>
  </div>
  <div class="horizontal-line sidebar__horizontal-line"></div>
  <ng-container *ngIf="repositories.length; else noRepositories">
    <div class="repositories">
      <p class="repositories__title">Репозитории</p>
      <input class="repositories__input" type="text" placeholder="Поиск по репозиториям" />
      <ul class="repositories__list">
        <li class="repositories__list-item" *ngFor="let repository of repositories">
          <ng-container [ngSwitch]="repository.type">
            <img
              class="repositories__list-item-image"
              src="assets/svg/publicRepository.svg"
              alt="Публичный репозиторий"
              *ngSwitchCase="getRepositoryType().Public"
            />
            <img
              class="repositories__list-item-image"
              src="assets/svg/privateRepository.svg"
              alt="приватный репозиторий"
              *ngSwitchCase="getRepositoryType().Private"
            />
          </ng-container>
          <a class="repositories__list-item-title" [routerLink]="repository._id">{{
            repository.title
          }}</a>
        </li>
      </ul>
    </div>
  </ng-container>
  <ng-template #noRepositories>
    <span class="sidebar__text sidebar__text_italic"
      >Выбранный пользователь или команда не имеет репозиториев</span
    >
  </ng-template>
</div>
