<div class="sidebar">
  <div class="account" [matMenuTriggerFor]="userAccountMenu">
    <img
      class="account__image"
      appImageSanitized
      [imagePath]="selectedAccount.avatar || ''"
      [defaultImage]="isSelectedAccountUser() ? 'assets/svg/avatar.svg' : 'assets/svg/team.svg'"
      alt="аккаунт"
    />
    <span class="account__nickname">{{
      isSelectedAccountUser() ? selectedAccount.login : selectedAccount.title
    }}</span>
    <button class="account__switch-btn" mat-icon-button>
      <img src="assets/svg/switchAccount.svg" alt="переключить аккаунт" />
    </button>
  </div>
  <div class="horizontal-line sidebar__horizontal-line"></div>
  <ng-container *ngIf="repositories.length; else noRepositories">
    <div class="repositories">
      <p class="repositories__title">Репозитории</p>
      <input
        class="repositories__input"
        [(ngModel)]="searchRepositoryValue"
        type="text"
        placeholder="Поиск по репозиториям"
      />
      <ul class="repositories__list">
        <li
          class="repositories__list-item"
          *ngFor="let repository of repositories | repositoryByTitle: searchRepositoryValue"
        >
          <ng-container [ngSwitch]="repository.type">
            <img
              class="repositories__list-item-image"
              src="assets/svg/publicRepository.svg"
              alt="Публичный репозиторий"
              *ngSwitchCase="getRepositoryType().Public"
            />
            <img
              class="repositories__list-item-image"
              src="assets/svg/privateRepository.svg"
              alt="приватный репозиторий"
              *ngSwitchCase="getRepositoryType().Private"
            />
          </ng-container>
          <a class="repositories__list-item-title" [routerLink]="repository._id">{{
            repository.title
          }}</a>
        </li>
      </ul>
    </div>
  </ng-container>
  <ng-template #noRepositories>
    <span class="sidebar__text sidebar__text_italic"
      >Выбранный пользователь или команда не имеет репозиториев</span
    >
  </ng-template>
</div>
<mat-menu class="user-account-menu" #userAccountMenu="matMenu">
  <button class="user-account-menu__button" mat-menu-item (click)="selecAccount.emit(user)">
    <img
      class="user-account-menu__image"
      appImageSanitized
      [imagePath]="user.avatar || ''"
      [defaultImage]="'assets/svg/avatar.svg'"
      alt="аккаунт"
    />
    <span class="user-account-menu__text">{{ user.login }}</span>
  </button>
  <button
    class="user-account-menu__button"
    mat-menu-item
    *ngFor="let team of userTeams"
    (click)="selecAccount.emit(team)"
  >
    <img
      class="user-account-menu__image"
      appImageSanitized
      [imagePath]="team.avatar || ''"
      [defaultImage]="'assets/svg/team.svg'"
      alt="аккаунт"
    />
    <span class="user-account-menu__text">{{ team.title }}</span>
  </button>
</mat-menu>
