<div class="sidebar">
  <div class="account">
    <img
      class="account__image"
      [src]="user.avatar ? userAvatarPath : 'assets/svg/avatar.svg'"
      alt="аккаунт"
    />
    <span class="account__nickname">{{ user.username }}</span>
    <button class="account__switch-btn" mat-icon-button>
      <img src="assets/svg/switchAccount.svg" alt="переключить аккаунт" />
    </button>
  </div>
  <div class="horizontal-line sidebar__horizontal-line"></div>
  <div class="projects">
    <p class="projects__title">Репозитории</p>
    <input class="projects__input" type="text" placeholder="Поиск по репозиториям" />
    <ul class="projects__list">
      <li class="projects__list-item">
        <img
          class="projects__list-item-image"
          src="assets/svg/privateRepository.svg"
          alt="приватный репозиторий"
        />
        <a class="projects__list-item-title" routerLink="#"
          >Adetil/Ролик РГ18x856 013АВСВ324 Adetil/Ролик РГ18x856 013АВСВ324</a
        >
      </li>
      <li class="projects__list-item">
        <img
          class="projects__list-item-image"
          src="assets/svg/publicRepository.svg"
          alt="публичный репозиторий"
        />
        <a class="projects__list-item-title" routerLink="#">Trizo/Двигатель CK34</a>
      </li>
    </ul>
  </div>
</div>
