<app-editor-step
  [title]="'Просмотрщик 3D-моделей'"
  [subtitle]="
    step !== 1
      ? 'Отображает модели, анимации, позволяет создавать интерактивные инструкции.'
      : 'Репозиторий содержит в себе все модели, инструкции и документы, в том числе и историю их изменений.'
  "
>
  <ng-container [ngSwitch]="step">
    <app-init-repository
      [step]="1"
      (changedStep)="onChangeStep($event)"
      *ngSwitchCase="1"
    ></app-init-repository>
    <app-upload-model
      [step]="2"
      (changedStep)="onChangeStep($event)"
      *ngSwitchCase="2"
    ></app-upload-model>
    <app-editor-viewer
      [step]="3"
      (changedStep)="onChangeStep($event)"
      *ngSwitchCase="3"
    ></app-editor-viewer>
  </ng-container>
</app-editor-step>
