@import '_variables';

.main-page {
  display: flex;
  height: 100%;

  &__repositories {
    flex: 1;
  }
}

.vertical-line {
  width: 1px;
  height: 100%;
  background-color: $verticalLineMainPageColor;
}
