<header class="header">
  <nav class="header__nav">
    <ul class="nav-list">
      <li class="nav-list__item">
        <a
          class="nav-list__link nav-list__link_fs-24"
          routerLink="/main"
          routerLinkActive="nav-list__link_active"
          >Интерактивные инструкции</a
        >
      </li>
      <div class="vertical-line"></div>
    </ul>
  </nav>
  <div class="search-bar">
    <div class="search-bar__input-wrapper">
      <input class="search-bar__input" [(ngModel)]="searchValue" type="text" placeholder="Поиск" />
      <button class="search-bar__clear-btn" *ngIf="searchValue" (click)="searchValue = ''">
        <img class="search-bar__clear-icon" src="assets/svg/clear.svg" alt="Очистить" />
      </button>
    </div>
    <button
      class="search-bar__btn"
      mat-icon-button
      color="primary"
      (click)="onSearchRepositories()"
    >
      <img class="search-bar__btn-icon" src="assets/svg/search-bar.svg" alt="поиск" />
    </button>
  </div>
  <ng-container *ngIf="user; else signIn">
    <div class="user-actions">
      <a class="user-actions__btn" mat-icon-button color="primary" routerLink="/favorite">
        <img class="user-actions__btn-icon" src="assets/svg/favorite.svg" alt="избранное" />
      </a>
      <button
        class="user-actions__btn"
        mat-icon-button
        color="primary"
        [matMenuTriggerFor]="createNewMenu"
      >
        <img class="user-actions__btn-icon" src="assets/svg/plus.svg" alt="меню действий" />
      </button>
      <mat-menu #createNewMenu="matMenu" class="create-new-menu">
        <div class="create-new-menu__item" mat-menu-item>
          <a class="create-new-menu__item-action" routerLink="/editor">Новый репозиторий</a>
        </div>
        <div class="create-new-menu__item" mat-menu-item>
          <a class="create-new-menu__item-action" routerLink="/team/create">Новая команда</a>
        </div>
      </mat-menu>
      <div class="vertical-line"></div>
      <div class="user-actions__avatar">
        <button class="user-actions__btn" [matMenuTriggerFor]="userMenu">
          <img
            class="user-actions__avatar-icon"
            appImageSanitized
            [imagePath]="user.avatar || ''"
            [defaultImage]="'assets/svg/avatar.svg'"
            alt="меню пользователя"
          />
        </button>
        <mat-menu #userMenu="matMenu" class="user-menu">
          <div class="user-menu__item" mat-menu-item>
            <img
              class="user-menu__item-image"
              src="assets/svg/repositories-link.svg"
              alt="репозитории"
            />
            <a class="user-menu__item-action" routerLink="/user-repositories">Мои репозитории</a>
          </div>
          <div class="user-menu__item" mat-menu-item>
            <img class="user-menu__item-image" src="assets/svg/teams-link.svg" alt="команды" />
            <a class="user-menu__item-action" routerLink="/team/user-teams">Команды</a>
          </div>
          <div class="user-menu__item" mat-menu-item>
            <img class="user-menu__item-image" src="assets/svg/settings.svg" alt="настройки" />
            <button class="user-menu__item-action" (click)="openSettings()">Настройки</button>
          </div>
          <div class="user-menu__item" mat-menu-item (click)="logout()">
            <img
              class="user-menu__item-image"
              src="assets/svg/logout.svg"
              alt="выйти из аккаунта"
            />
            <button class="user-menu__item-action" routerLink="/main">Выйти</button>
          </div>
        </mat-menu>
      </div>
    </div>
  </ng-container>
  <ng-template #signIn>
    <button class="login-btn" mat-flat-button routerLink="/auth">Войти</button>
  </ng-template>
</header>
