<div class="viewer-settings">
  <p class="viewer-settings__title">Настройка сцены</p>
  <div class="viewer-settings__section">
    <p>Сетка</p>
    <mat-form-field appearance="fill">
      <mat-select
        [(value)]="selectedModeVisibleGridHelper"
        (valueChange)="changeVisibleGridHelper($event)"
      >
        <mat-option [value]="option.value" *ngFor="let option of modesVisibleGridHelper">{{
          option.viewValue
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="viewer-settings__section">
    <p>Позиция камеры по умолчанию</p>
    <mat-form-field appearance="fill">
      <mat-select
        [(value)]="selectedModeDefualtPositionCamera"
        (valueChange)="changeDefualtPositionCamera($event)"
      >
        <mat-option [value]="option.value" *ngFor="let option of modesDefualtPositionCamera">{{
          option.viewValue
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="viewer-settings__section">
    <p>Цвет заднего фона сцены</p>
    <div class="color-picker"></div>
    <div #picker id="color-indicator" class="color-indicator"></div>
    <div id="color-picker"></div>
  </div>
</div>
