<div class="teams-list">
  <div class="teams-list__container">
    <h1 class="teams-list__title page-title">Ваши команды</h1>
    <div class="teams-list__content">
      <div class="team">
        <img class="team__image" src="assets/svg/team.svg" alt="команда" />
        <div class="team__content">
          <h2 class="team__title">Морковные инженеры</h2>
          <p class="team__user-role">Роль: редактор</p>
          <p class="team__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum.
          </p>
        </div>
        <button class="team__action" mat-flat-button color="warn">
          <img class="team__action-img" src="assets/svg/leave.svg" alt="выйти из команды" />
        </button>
      </div>
      <div class="team">
        <img class="team__image" src="assets/svg/team.svg" alt="команда" />
        <div class="team__content">
          <h2 class="team__title">Морковные инженеры</h2>
          <p class="team__user-role">Роль: редактор</p>
          <p class="team__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum.
          </p>
        </div>
        <button class="team__action" mat-flat-button color="warn">
          <img class="team__action-img" src="assets/svg/leave.svg" alt="выйти из команды" />
        </button>
      </div>
      <div class="team">
        <img class="team__image" src="assets/svg/team.svg" alt="команда" />
        <div class="team__content">
          <h2 class="team__title">Морковные инженеры</h2>
          <p class="team__user-role">Роль: редактор</p>
          <p class="team__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum.
          </p>
        </div>
        <button class="team__action" mat-flat-button color="warn">
          <img class="team__action-img" src="assets/svg/leave.svg" alt="выйти из команды" />
        </button>
      </div>
    </div>
  </div>
</div>
