<div class="teams-list">
  <div class="teams-list__container">
    <ng-container *ngIf="teams.length; else noTeamsFound">
      <h1 class="teams-list__title page-title">Ваши команды</h1>
      <div class="teams-list__content">
        <div class="team" *ngFor="let team of teams" (click)="onNavigateToTeam(team._id!)">
          <img
            class="team__image"
            appImageSanitized
            [imagePath]="team.avatar"
            [defaultImage]="'assets/svg/team.svg'"
            alt="команда"
          />
          <div class="team__content">
            <h2 class="team__title">{{ team.title }}</h2>
            <p class="team__user-role">
              Роль: {{ team.participants! | participantRole: dataStore.getUserValue()?._id! }}
            </p>
            <p class="team__description">
              {{ team.description }}
            </p>
          </div>
          <button
            class="team__action"
            mat-flat-button
            color="warn"
            (click)="onLeaveTeam($event, team)"
            *appHasRole="
              [getParticipantRoleEnum().Editor, getParticipantRoleEnum().Reader];
              userId: dataStore.getUserValue()!._id;
              participants: team.participants!
            "
            matTooltip="Выйти из команды"
            matTooltipPosition="above"
            matTooltipClass="tooltip"
          >
            <img class="team__action-img" src="assets/svg/leave.svg" alt="выйти из команды" />
          </button>
        </div>
      </div>
    </ng-container>
    <ng-template #noTeamsFound>
      <div class="teams-list__no-found">
        <span>Вы не состоите ни в одной команде!</span>
      </div>
    </ng-template>
  </div>
</div>
