<div class="dialog">
  <mat-dialog-content class="choose-image">
    <button
      class="choose-image__pfp-button"
      mat-flat-button
      color="primary"
      (click)="fileInput.click()"
    >
      Выбрать файл
    </button>
    <input
      #fileInput
      type="file"
      accept=".png, .jpg, .jpeg"
      style="display: none"
      (change)="onFileChange($event)"
    />
    <div class="choose-image__crop-wrapper">
      <div class="choose-image__cropper" id="croppie" #croppie></div>
      <div class="choose-image__crop-result" *ngIf="previewImage">
        <img
          class="choose-image__result-image choose-image__result-image_big"
          [src]="previewImage"
          alt="аватар"
          [ngClass]="{ 'choose-image__result-image_square': data.type === 'square' }"
        />
        <img
          class="choose-image__result-image choose-image__result-image_small"
          [ngClass]="{ 'choose-image__result-image_square': data.type === 'square' }"
          [src]="previewImage"
          alt="аватар"
        />
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-flat-button mat-dialog-close color="warn">Отмена</button>
    <button
      *ngIf="previewImageUrl"
      mat-flat-button
      color="primary"
      (click)="dialogRef.close({ imageUrl: previewImageUrl, image: previewImage })"
    >
      Сохранить
    </button>
  </mat-dialog-actions>
</div>
