@import '_variables';

.dialog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.choose-image {
  &__crop-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }

  &__cropper {
    max-width: 150px;
  }

  &__crop-result {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    height: 200px;
  }

  &__result-image {
    border-radius: 50%;
    object-fit: cover;
    display: block;

    &_big {
      width: 100px;
      height: 100px;
    }

    &_small {
      margin-top: 30px;
      width: 36px;
      height: 36px;
    }

    &_square {
      border-radius: 0;
    }
  }
}
