<div class="dialog">
  <mat-dialog-content class="choose-image">
    <button
      class="choose-image__pfp-button"
      mat-flat-button
      color="primary"
      (click)="fileInput.click()"
    >
      Выбрать файл
    </button>
    <input
      #fileInput
      type="file"
      accept=".png, .jpg, .jpeg"
      style="display: none"
      (change)="onFileChange($event)"
    />
    <div class="choose-image__crop-wrapper">
      <div
        class="choose-image__cropper"
        [ngStyle]="{ 'max-width': data.boundary.width }"
        id="croppie"
        #croppie
      ></div>
      <div
        class="choose-image__crop-result"
        *ngIf="previewImage"
        [ngStyle]="{ height: data.boundary.height + 'px' }"
      >
        <img
          class="choose-image__result-image"
          [ngStyle]="{
            width: data.viewport.width + 'px',
            height: data.viewport.height + 'px'
          }"
          [ngClass]="{ 'choose-image__result-image_square': data.viewport.type === 'square' }"
          [src]="previewImage"
          alt="аватар"
        />
        <img
          class="choose-image__result-image choose-image__result-image_small"
          [ngStyle]="{
            width: data.viewport.width / 3 + 'px',
            height: data.viewport.height / 3 + 'px'
          }"
          [ngClass]="{ 'choose-image__result-image_square': data.viewport.type === 'square' }"
          [src]="previewImage"
          alt="аватар"
        />
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-flat-button mat-dialog-close color="warn">Отмена</button>
    <button
      *ngIf="previewImageUrl"
      mat-flat-button
      color="primary"
      (click)="dialogRef.close({ imageUrl: previewImageUrl, image: previewImage })"
    >
      Сохранить
    </button>
  </mat-dialog-actions>
</div>
