:host {
  height: 100%;
}

.tree-wrapper {
  height: 100%;

  &__name-element {
    cursor: pointer;
  }

  &__button {
    margin-left: 2px;
  }
}

.tree {
  &_invisible {
    display: none;
  }

  ul,
  li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }

  .mat-nested-tree-node div[role='group'] {
    padding-left: 40px;
  }

  div[role='group'] > .mat-tree-node {
    padding-left: 40px;
  }

  &__name-element {
    cursor: pointer;
  }
}
