<div class="team-page">
  <div
    class="team-page__container"
    [ngClass]="{ 'team-page__container_full-width': teamRepositories.length }"
  >
    <h1 class="team-page__title page-title">{{ team.title }}</h1>
    <div class="team-page__content">
      <div class="team-page__card-wrapper">
        <h2 class="team-page__subtitle">Информация</h2>
        <div class="team-card">
          <div class="team-card__header">
            <img
              class="team-card__image"
              appImageSanitized
              [imagePath]="team.avatar"
              [defaultImage]="'assets/svg/team.svg'"
              alt="команда"
            />
            <p class="team-card__description">
              {{ team.description }}
            </p>
            <div class="team-card__actions" *ngIf="dataStore.getUserValue() as user">
              <a
                class="team-card__action"
                mat-flat-button
                color="primary"
                [routerLink]="'/team/edit/' + team._id"
                *appHasRole="
                  [getParticipantRoleEnum().Author];
                  userId: user._id;
                  participants: team.participants!
                "
                matTooltip="Редактировать"
                matTooltipPosition="above"
                matTooltipClass="tooltip"
              >
                <img
                  class="team-card__action-img"
                  src="assets/svg/edit_white.svg"
                  alt="редактировать"
                />
              </a>
              <button
                class="team-card__action"
                mat-flat-button
                color="warn"
                *appHasRole="
                  [getParticipantRoleEnum().Author];
                  userId: user._id;
                  participants: team.participants!
                "
                matTooltip="Удалить"
                matTooltipPosition="above"
                matTooltipClass="tooltip"
                (click)="removeTeam()"
              >
                <img
                  class="team-card__action-img"
                  src="assets/svg/delete_white.svg"
                  alt="удалить команду"
                />
              </button>
              <button
                class="team-card__action"
                mat-flat-button
                color="warn"
                matTooltip="Выйти из команды"
                matTooltipPosition="above"
                matTooltipClass="tooltip"
                *appHasRole="
                  [getParticipantRoleEnum().Editor, getParticipantRoleEnum().Reader];
                  userId: user._id;
                  participants: team.participants!
                "
                (click)="leaveFromTeam()"
              >
                <img
                  class="team-card__action-img"
                  src="assets/svg/leave.svg"
                  alt="выйти из команды"
                />
              </button>
            </div>
          </div>
          <div class="team-card__content">
            <app-participants-table
              *ngIf="team.participants && team.participants?.length"
              [participants]="team.participants || []"
              [viewMode]="true"
            >
            </app-participants-table>
          </div>
        </div>
      </div>
      <div class="team-page__repositories" *ngIf="teamRepositories.length">
        <h2 class="team-page__subtitle">Репозитории</h2>
        <app-repositories [repositories]="teamRepositories"></app-repositories>
      </div>
    </div>
  </div>
</div>
