<div class="activity">
  <h2 class="activity__title">{{ title }}</h2>
  <div class="activity__item item-activity">
    <div class="item-activity__img-wrapper">
      <img class="item-activity__img" src="assets/svg/avatar.svg" alt="аватар пользователя" />
    </div>
    <div class="item-activity__content">
      <div class="item-activity__header">
        <a class="item-activity__username" routerLink="#">TheToxicMoss</a>
        <span>&nbsp;модифицировал&nbsp;</span>
        <a class="item-activity__repository" routerLink="#">Trizo/Двигатель CK34</a>
        <span class="item-activity__date">2 дня назад</span>
      </div>
      <div class="item-activity__description">
        Изменил описание, добавил полезные ссылки и файлы, добавил спецификацию.
      </div>
    </div>
  </div>
  <div class="activity__item item-activity">
    <div class="item-activity__img-wrapper">
      <img class="item-activity__img" src="assets/svg/avatar.svg" alt="аватар пользователя" />
    </div>
    <div class="item-activity__content">
      <div class="item-activity__header">
        <a class="item-activity__username" routerLink="#">TheToxicMoss</a>
        <span>&nbsp;модифицировал&nbsp;</span>
        <a class="item-activity__repository" routerLink="#">Trizo/Двигатель CK34</a>
        <span class="item-activity__date">2 дня назад</span>
      </div>
      <div class="item-activity__description">
        Изменил описание, добавил полезные ссылки и файлы, добавил спецификацию.
      </div>
    </div>
  </div>
</div>
