<div class="init-repository">
  <div class="init-repository__name-repository">
    <div class="init-repository__name-group">
      <p class="init-repository__text">Название</p>
      <input class="init-repository__input" type="text" placeholder="Название репозитория" />
    </div>
    <div class="init-repository__name-group">
      <p class="init-repository__text">Заголовок</p>
      <input class="init-repository__input" type="text" placeholder="Заголовок репозитория" />
    </div>
  </div>
  <div class="init-repository__author">
    <p class="init-repository__text">Автор (пользователь/команда)</p>
    <select class="init-repository__select" name="" id="">
      <img class="init-repository__avatar" src="../../../../assets/png/avatar.png" alt="" />
      <option value="">1</option>
    </select>
  </div>
  <div class="init-repository__description">
    <p class="init-repository__text">Описание</p>
    <textarea class="init-repository__textarea" placeholder="Описание проекта"></textarea>
  </div>
  <div class="init-repository__access-repository">
    <form>
      <div class="init-repository__type-repository">
        <div class="init-repository__chosen-type">
          <input type="radio" id="public" name="fav_language" value="public" />
          <label class="init-repository__label" for="public">
            <img class="init-repository__img" src="assets/svg/publicRepository.svg" alt="" />
          </label>
        </div>
        <div class="init-repository__text-type">
          <p class="init-repository__text">Публичный</p>
          <p>Репозиторий будет доступен всем пользователям для просмотра.</p>
        </div>
      </div>
      <div class="init-repository__type-repository">
        <div class="init-repository__chosen-type">
          <input type="radio" id="private" name="fav_language" value="private" />
          <label class="init-repository__label" for="private">
            <img class="init-repository__img" src="assets/svg/privateRepository.svg" alt="" />
          </label>
        </div>
        <div class="init-repository__text-type">
          <p class="init-repository__text">Приватный</p>
          <p>Репозиторий будет доступен только автору и участникам проекта.</p>
        </div>
      </div>
    </form>
  </div>
  <app-step-buttons [step]="step" (changedStep)="changedStep.emit($event)"></app-step-buttons>
</div>
