<div class="user-form-container">
  <form class="user-form" (ngSubmit)="onSubmit()" [formGroup]="loginFormGroup">
    <div class="user-form__header">
      <h1 class="user-form-title">Вход в аккаунт</h1>
    </div>
    <mat-form-field class="user-form__field" appearance="standard">
      <mat-label class="user-form__label">Введите эл. почту или логин</mat-label>
      <input
        class="user-form__input"
        matInput
        placeholder="pat@example.com"
        formControlName="login"
        autocomplete="off"
      />
    </mat-form-field>
    <mat-form-field class="user-form__field" appearance="standard">
      <mat-label class="user-form__label">Введите пароль</mat-label>
      <input
        class="user-form__input"
        matInput
        [type]="hidePass ? 'password' : 'text'"
        formControlName="password"
        autocomplete="off"
      />
      <button
        class="user-form__pass-hide"
        mat-icon-button
        matSuffix
        type="button"
        (click)="hidePass = !hidePass"
        [attr.aria-label]="'Hide password'"
        [matTooltip]="hidePass ? 'Показать пароль' : 'Скрыть пароль'"
        matTooltipPosition="above"
        matTooltipClass="tooltip"
      >
        <img
          class="user-form__icon"
          [src]="hidePass ? 'assets/svg/visibility_off.svg' : 'assets/svg/visibility.svg'"
          alt="Показать пароль"
        />
      </button>
    </mat-form-field>
    <div class="user-form__action user-form__action_flex">
      <button class="user-form__action-btn" mat-flat-button type="submit" color="primary">
        Войти
      </button>
    </div>
    <div class="user-form__action user-form__action_flex">
      <a
        class="user-form__action-btn"
        mat-stroked-button
        [routerLink]="'../registration'"
        color="warn"
        >Создать аккаунт</a
      >
    </div>
  </form>
</div>
