<div class="viewer-wrapper" #viewerWrapper>
  <ng-container *ngIf="viewerInitialized">
    <app-viewer-toolbar
      [rotateAnimationBtnIsActive]="rotateAnimationBtnIsActive"
      [explodeBtnIsActive]="explodeBtnIsActive"
      (resetCamera)="onResetCamera()"
      (rotateCamera)="onRotateCamera()"
      (rotateCameraSpeedChanged)="onRotateCameraSpeedChanged($event)"
      (explode)="onExplode()"
      (explodePowerChanged)="onExplodePowerChanged($event)"
    ></app-viewer-toolbar>
  </ng-container>
  <canvas #canvas [ngStyle]="{ width: '100%', height: '100%', position: 'absolute' }"></canvas>
</div>
