@import '_variables';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.loading-error {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
}

.viewer-wrapper {
  flex: 1;
  width: 100%;
  position: relative;
}

canvas {
  border-radius: 12px;
}

.annotation-label {
  color: $whiteColor;
  font-family: monospace;
  pointer-events: none;
  font-size: 17px;
}

.annotation-description {
  color: $whiteColor;
  font-family: monospace;
  pointer-events: none;
  font-size: 14px;
  position: absolute;
  left: 25px;
  padding: 1em;
  width: 200px;
  background: $blockDescriptionAnnotationBgColor;
  border-radius: 0.5em;
  transition: opacity 0.5s;
  display: none;
}

.context-menu {
  &__btn {
    display: flex !important;
    align-items: center;
  }

  &__btn-icon {
    margin-right: 10px;
  }

  &__btn-text {
  }
}
