@import '_variables';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.viewer-wrapper {
  flex: 1;
  width: 100%;
  position: relative;
}

canvas {
  border-radius: 12px;
}

.annotation-label {
  color: $whiteColor;
  font-family: monospace;
  pointer-events: none;
  font-size: 17px;
}

.annotation-description {
  color: $whiteColor;
  font-family: monospace;
  pointer-events: none;
  font-size: 14px;
  position: absolute;
  left: 25px;
  padding: 1em;
  width: 200px;
  background: $blockDescriptionAnnotationBgColor;
  border-radius: 0.5em;
  transition: opacity 0.5s;
  display: none;
}

.context-menu {
  &__btn {
    display: flex !important;
    align-items: center;
  }

  &__btn-icon {
    margin-right: 10px;
  }

  &__btn-text {
  }
}

.viewer-settings {
  &__btn {
    position: absolute;
    z-index: 11;
    left: 15px;
    top: 15px;
  }

  &__img {
    width: 24px;
    height: 24px;
  }
}
