<div class="editor-instructions">
  <ng-container [ngSwitch]="instructionStep">
    <ng-template [ngSwitchCase]="getInsructionStep().ListInstructions">
      <button
        class="editor-instructions__btn"
        mat-raised-button
        color="primary"
        type="button"
        (click)="addInstruction()"
      >
        Добавить инструкцию
      </button>
      <div class="editor-instructions__table-wrapper">
        <ng-container *ngIf="instructions.length; else emptyInstruction">
          <table class="editor-instructions__table">
            <thead>
              <tr class="editor-instructions__row">
                <th class="editor-instructions__column editor-instructions__column-time">id</th>
                <th class="editor-instructions__column editor-instructions__column-time">
                  Заголовок
                </th>
                <th class="editor-instructions__column editor-instructions__column-action">
                  Действия
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="item" *ngFor="let instruction of instructions; let i = index">
                <td class="editor-instructions__column editor-instructions__column-time">
                  {{ instruction.id }}
                </td>
                <td class="editor-instructions__column editor-instructions__column-time">
                  {{ instruction.title }}
                </td>
                <td class="editor-instructions__column editor-instructions__column-action">
                  <button
                    mat-icon-button
                    matTooltip="Редактировать инструкцию"
                    (click)="editInstruction(instruction, i)"
                  >
                    <img
                      class="editor-instructions__btn-icon"
                      src="assets/svg/edit.svg"
                      alt="редактировать"
                    />
                  </button>
                  <button
                    mat-icon-button
                    matTooltip="Удалить инструкцию"
                    (click)="deleteInstruction(instruction)"
                  >
                    <img
                      class="editor-instructions__btn-icon"
                      src="assets/svg/delete.svg"
                      alt="удалить"
                    />
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-container>
        <ng-template #emptyInstruction>
          <p class="editor-instructions__notify">Список инструкций пуст</p>
        </ng-template>
      </div>
    </ng-template>
    <ng-template [ngSwitchCase]="getInsructionStep().ListSlides">
      <div class="editor-instructions__wrapper-field">
        <button
          class="editor-instructions__btn"
          mat-raised-button
          color="primary"
          type="button"
          (click)="addSlide()"
        >
          Добавить слайд
        </button>
        <div class="editor-instructions__row-field">
          <p class="editor-instructions__subtitle">Заголовок инструкции</p>
          <input class="editor-instructions__input" [(ngModel)]="titleInstruction" />
        </div>
      </div>
      <div class="editor-instructions__table-wrapper">
        <ng-container *ngIf="instructions[indexInstruction].slides.length; else emptySlides">
          <table class="editor-instructions__table">
            <thead>
              <tr class="editor-instructions__row">
                <th class="editor-instructions__column editor-instructions__column-time">id</th>
                <th class="editor-instructions__column editor-instructions__column-time">
                  Заголовок
                </th>
                <th class="editor-instructions__column editor-instructions__column-action">
                  Действия
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                class="item"
                *ngFor="let slide of instructions[indexInstruction].slides; let i = index"
              >
                <td class="editor-instructions__column editor-instructions__column-time">
                  {{ slide.id }}
                </td>
                <td class="editor-instructions__column editor-instructions__column-time">
                  {{ slide.title }}
                </td>
                <td class="editor-instructions__column editor-instructions__column-action">
                  <button
                    mat-icon-button
                    matTooltip="Редактировать слайд"
                    (click)="editSlide(slide, i)"
                  >
                    <img
                      class="editor-instructions__btn-icon"
                      src="assets/svg/edit.svg"
                      alt="редактировать"
                    />
                  </button>
                  <button mat-icon-button matTooltip="Удалить слайд" (click)="deleteSlide(slide)">
                    <img
                      class="editor-instructions__btn-icon"
                      src="assets/svg/delete.svg"
                      alt="удалить"
                    />
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-container>
        <ng-template #emptySlides>
          <p class="editor-instructions__notify">Список слайдов пуст</p>
        </ng-template>
      </div>
      <div class="editor-instructions__actions">
        <button
          class="editor-instructions__btn"
          mat-raised-button
          color="warn"
          type="button"
          (click)="backToInstructions()"
        >
          Назад
        </button>
      </div>
    </ng-template>
    <ng-template [ngSwitchCase]="getInsructionStep().Slide">
      <p class="editor-instructions__title">
        Слайд №{{ instructions[indexInstruction].slides.length }}
      </p>
      <div class="editor-instructions__row-field">
        <p class="editor-instructions__subtitle">Заголовок слайда</p>
        <input class="editor-instructions__input" [(ngModel)]="titleSlide" />
      </div>
      <div class="editor-instructions__row-field">
        <p class="editor-instructions__subtitle">Описание слайда</p>
        <textarea class="editor-instructions__textarea" [(ngModel)]="descriptionSlide"></textarea>
      </div>
      <div class="editor-instructions__actions">
        <button
          class="editor-instructions__btn"
          mat-raised-button
          color="warn"
          type="button"
          (click)="backToSlides()"
        >
          Назад
        </button>
      </div>
    </ng-template>
  </ng-container>
</div>
