<div class="annotations-editor">
  <div class="annotation-editor__new-annotation new-annotation-panel">
    <p class="new-annotation-panel__title">Аннотация</p>
    <div class="new-annotation-panel__content">
      <textarea
        [(ngModel)]="currentAnnotation.text"
        class="new-annotation-panel__text-annotation"
      ></textarea>
      <div class="new-annotation-panel__actions">
        <div class="new-annotation-panel__btn-wrapper" #buttonApplyAnnotation>
          <button
            mat-icon-button
            class="new-annotation-panel__btn"
            (click)="applyAnnotation.emit(true)"
          >
            <img
              class="new-annotation-panel__btn-icon"
              src="assets/svg/attachAnnotation.svg"
              alt="прикрепить"
            />
          </button>
        </div>
        <button
          mat-icon-button
          class="new-annotation-panel__btn"
          [disabled]="!currentAnnotation.position"
          (click)="onSaveAnnotation()"
        >
          <img class="new-annotation-panel__btn-icon" src="assets/svg/save.svg" alt="сохранить" />
        </button>
      </div>
    </div>
  </div>
  <!-- <div class="annotation-editor__table">
    <p class="new-annotation-panel__title">Таблица аннотаций</p>
    <div class="annotation-editor__annotations-table">
      <table class="annotation-editor__table">
        <thead>
          <th></th>
          <th></th>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> -->
</div>
