<div class="annotations-editor">
  <div class="annotation-editor__new-annotation new-annotation-panel">
    <p class="new-annotation-panel__title">Добавить аннотацию</p>
    <div class="new-annotation-panel__content">
      <textarea class="new-annotation-panel__text-annotation"></textarea>
      <div class="new-annotation-panel__actions">
        <button mat-icon-button class="new-annotation-panel__btn">
          <img
            class="new-annotation-panel__btn-icon"
            src="assets/svg/attachAnnotation.svg"
            alt=""
          />
        </button>
        <button mat-icon-button class="new-annotation-panel__btn">
          <img class="new-annotation-panel__btn-icon" src="assets/svg/save.svg" alt="" />
        </button>
      </div>
    </div>
  </div>
  <!-- <div class="annotation-editor__table">
    <p class="new-annotation-panel__title">Таблица аннотаций</p>
    <div class="annotation-editor__annotations-table">
      <table class="annotation-editor__table">
        <thead>
          <th></th>
          <th></th>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> -->
</div>
