:host {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  flex: 1;
  height: calc(100% - 82px);
}

.loading-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
