<div class="manage-team">
  <div class="manage-team__container">
    <h1 class="manage-team__title page-title">Новая команда</h1>
    <form class="manage-team__form form">
      <div class="manage-team__header">
        <div class="form__field">
          <label class="form__label" for="name">Название</label>
          <div class="form__control-wrapper form__control-wrapper_w-60">
            <input class="form__input" placeholder="Название команды" id="name" />
          </div>
        </div>
        <div class="manage-team__avatar-container edit-avatar">
          <img
            class="manage-team__avatar edit-avatar__img"
            [src]="'assets/svg/team.svg'"
            alt="аватар"
          />
          <button class="manage-team__pfp-button edit-avatar__pfp-button" type="button">
            <img
              class="manage-team__select-avatar edit-avatar__select-avatar"
              src="assets/svg/edit_white.svg"
              alt="изменить аватар"
            />
          </button>
        </div>
      </div>
      <div class="form__field">
        <label class="form__label" for="description">Описание</label>
        <div class="form__control-wrapper">
          <textarea
            class="form__textarea"
            placeholder="Описание команды"
            id="description"
          ></textarea>
        </div>
      </div>
      <div class="form__field">
        <label class="form__label" for="description">Добавить участника</label>
        <div class="form__control-wrapper form__control-wrapper_w-60">
          <input
            class="form__input"
            placeholder="Email/login нового участника"
            id="newParticipant"
          />
          <button
            class="manage-team__send-invite-btn form__field-btn"
            mat-flat-button
            color="primary"
            type="button"
          >
            <img
              class="form__field-btn-img"
              src="assets/svg/send.svg"
              alt="Отправить приглашение"
            />
          </button>
        </div>
      </div>
      <div class="form__actions form__actions_align-end">
        <button class="form__action" mat-raised-button color="warn" type="button">Отмена</button>
        <button class="form__action" mat-raised-button color="primary" type="button">
          Создать
        </button>
      </div>
    </form>
  </div>
</div>
