@import '_variables';

/*Сброс стилей*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

body {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  height: 100%;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  color: #24292f;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #007ef2;
}

.mat-list-base {
  padding: 0 !important;
}

.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  &__form {
  }
}

.auth-form {
  min-width: 370px;
  padding: 18px 20px;
  border: 1px solid $borderColor;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 6px 0px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;

  &__header {
    position: relative;
    padding-bottom: 2px;
    line-height: 40px;
  }

  &__back {
    position: absolute !important;
    top: 0;
    left: 0;
  }

  &__field {
  }

  &__label {
  }

  &__input {
  }

  &__pass-hide {
  }

  &__icon {
    display: block;
  }

  &__forgot-pass {
    align-self: flex-start;
    position: relative;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background: #000;
      display: none;
    }

    &:hover::after {
      display: block;
    }
  }

  &__actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
  }

  &__actions .form__action {
    margin-top: 0;
  }

  &__action {
    margin-top: 20px;
  }

  &__action_flex {
    display: flex;
    flex-direction: column;
  }

  &__action-btn {
    font-size: 18px;
  }
}

.auth-title {
  font-size: 22px;
  font-weight: 500;
  text-align: center;
}

.annotationLabel {
  color: #ffffff;
  font-family: monospace;
  pointer-events: none;
  font-size: 17px;
}

.annotationDescription {
  color: #ffffff;
  font-family: monospace;
  pointer-events: none;
  font-size: 14px;
  position: absolute;
  left: 25px;
  padding: 1em;
  width: 200px;
  background: rgba(0, 0, 0, 0.66);
  border-radius: 0.5em;
  transition: opacity 0.5s;
  display: block;
}

.context-menu {
  &__btn {
    display: flex !important;
    align-items: center;
  }

  &__btn-icon {
    margin-right: 10px;
  }

  &__btn-text {
  }
}

.mat-menu-content {
  padding: 0 !important;
}

.mat-tab-body {
  border-radius: 0 0 12px 12px;
}
