<div class="editor-viewer">
  <div class="loading" *ngIf="!model">
    <mat-spinner></mat-spinner>
  </div>
  <div class="editor-viewer__viewer">
    <app-scene
      [viewerMouseMode]="viewerMouseMode"
      (coordsAnnotation)="onCoordsAnnotation($event)"
      (viewerIsReady)="onViewerIsReady()"
    ></app-scene>
  </div>
  <div class="editor-viewer__toolbar toolbar">
    <div class="toolbar__tabs">
      <mat-tab-group>
        <!--  <mat-tab class="toolbar__tab" label="Анимации">
          <div class="toolbar__content">
            <app-editor-animations></app-editor-animations>
          </div>
        </mat-tab> -->
        <mat-tab class="toolbar__tab" label="Аннотации">
          <div class="toolbar__content">
            <app-editor-annotations
              [annotations]="annotations"
              [currentAnnotation]="currentAnnotation"
              (saveAnnotation)="onSaveAnnotation()"
              (applyAnnotation)="onApplyAnnotation($event)"
            ></app-editor-annotations>
          </div>
        </mat-tab>
        <mat-tab class="toolbar__tab" label="Спецификация">
          <div class="toolbar__content">
            <app-specification [model]="model"></app-specification>
          </div>
        </mat-tab>
        <mat-tab class="toolbar__tab" label="Дерево элементов">
          <div class="toolbar__content">
            <app-tree-elements [model]="model"></app-tree-elements>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
