<div class="editor-viewer">
  <div class="editor-viewer__viewer">
    <app-scene
      [viewerMouseMode]="viewerMouseMode"
      [repositoryId]="repositoryId"
      [modelId]="modelId"
      [viewMode]="false"
      [initialSettings]="repositoryToEdit?.sceneSettings ?? null"
      (applyAnnotationPosition)="onApplyAnnotationPosition($event)"
      (viewerIsReady)="onViewerIsReady()"
    ></app-scene>
  </div>
  <div class="editor-viewer__toolbar toolbar">
    <div class="toolbar__tabs">
      <mat-tab-group (selectedTabChange)="changeTab($event)">
        <mat-tab class="toolbar__tab" label="Инструкции">
          <div class="toolbar__content">
            <app-editor-instructions></app-editor-instructions>
          </div>
        </mat-tab>
        <mat-tab class="toolbar__tab" label="Дерево элементов">
          <div class="toolbar__content">
            <app-tree-structure
              *ngIf="tree"
              [tree]="tree"
              [viewMode]="true"
              (updateTree)="onUpdateTree($event)"
            ></app-tree-structure>
          </div>
        </mat-tab>
      </mat-tab-group>
      <div class="toolbar__wrapper-step-buttons">
        <app-step-buttons
          [step]="step"
          [nextBtnText]="'Сохранить'"
          (buttonClick)="onSaveInteractiveData()"
        ></app-step-buttons>
      </div>
    </div>
  </div>
</div>
