@import '_variables';

.edit-avatar {
  position: relative;

  &__img {
    display: block;
    border-radius: 50%;
    margin: 0 auto;

    &:hover {
      + .edit-avatar__pfp-button {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__pfp-button {
    position: absolute;
    top: 0;
    left: 50%;
    opacity: 0;
    visibility: hidden;
    border-radius: 50%;
    background-color: $primaryBlueColor;
    text-align: center;
    color: $whiteColor;
    width: 100px;
    height: 100px;
    transform: translateX(-50%);
    transition: all 0.3s ease;

    &:hover {
      opacity: 1;
      visibility: visible;
    }
  }

  &__select-avatar {
    display: block;
    border-radius: 50%;
    margin: 0 auto;
    transition: all 0.3s ease;
  }

  &__select-text {
    margin-top: 5px;
  }
}
