@use '~@angular/material'as mat;
@include mat.core();

$light-blue: (50 : #e0f0fd,
  100 : #b3d8fb,
  200 : #80bff9,
  300 : #4da5f6,
  400 : #2691f4,
  500 : #007ef2,
  600 : #0076f0,
  700 : #006bee,
  800 : #0061ec,
  900 : #004ee8,
  A100 : #ffffff,
  A200 : #dce6ff,
  A400 : #a9c0ff,
  A700 : #90aeff,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));

$blue: (50 : #e1effb,
  100 : #b3d6f6,
  200 : #81bbf0,
  300 : #4e9fe9,
  400 : #288be5,
  500 : #0276e0,
  600 : #026edc,
  700 : #0163d8,
  800 : #0159d3,
  900 : #0146cb,
  A100 : #f3f6ff,
  A200 : #c0d1ff,
  A400 : #8dacff,
  A700 : #749aff,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));

$grey: (50 : #fafbfb,
  100 : #f3f5f5,
  200 : #ebeeee,
  300 : #e3e7e7,
  400 : #dde1e2,
  500 : #d7dcdd,
  600 : #d3d8d9,
  700 : #cdd3d4,
  800 : #c7cecf,
  900 : #bec5c7,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));



$my-primary: mat.define-palette($light-blue, 500);
$my-accent: mat.define-palette($grey, 500);
$my-warn: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-light-theme((color: (primary: $my-primary,
      accent: $my-accent,
      warn: $my-warn,
    )));

@include mat.all-component-themes($my-theme);