@use '~@angular/material' as mat;
@include mat.core();

$light-blue: (
  50: #e0f0fd,
  100: #b3d8fb,
  200: #80bff9,
  300: #4da5f6,
  400: #2691f4,
  500: #007ef2,
  600: #0076f0,
  700: #006bee,
  800: #0061ec,
  900: #004ee8,
  A100: #ffffff,
  A200: #dce6ff,
  A400: #a9c0ff,
  A700: #90aeff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$orange: (
  50: #fdf8e6,
  100: #fbedc2,
  200: #f8e199,
  300: #f5d470,
  400: #f3cb51,
  500: #f1c232,
  600: #efbc2d,
  700: #edb426,
  800: #ebac1f,
  900: #e79f13,
  A100: #ffffff,
  A200: #fff4e2,
  A400: #ffe2af,
  A700: #ffd896,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$my-primary: mat.define-palette($light-blue, 500);
$my-accent: mat.define-palette($orange, 600);
$my-warn: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
      warn: $my-warn,
    ),
  )
);

@include mat.all-component-themes($my-theme);
