.page-status{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  &__text{
    font-size: 32px;
    line-height: 36px;
    opacity: 0.8;
    text-align: center;
  }
}